{% extends "layouts.backoffice-default" %}

{% block title trans('users::user-search.title') %}

{% block pageHead %}
    {% include "widgets.bootstrap-panel" with {'panelHeader' : 'true',  'title' : '<h4>' ~ trans('users::user-search.title') ~ '</h4>', 'classes' : 'margin-bottom-none'} %}
{% endblock %}

{% block pageBody %}

    <!-- BEGIN widget controller for this page -->
    <div id="user-search-controller">
        {% embed "widgets.bootstrap-panel" with {'panelBody' : 'true', 'classes' : 'margin-top-none margin-bottom-none padding-none-TB'} %}
            {% block panelBody %}
                {{ form_open({'method' : 'GET', 'class' : 'form-horizontal innerAll', 'enctype' : 'multipart/form-data', 'id' : 'searchUserForm', 'role' : 'form'}) }}
                <div class="widget">
                    <div class="widget-body innerAll inner-2x">
                        <div class="row innerLR">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label strong">{{ trans('users::user-search.index.first_name') }}</label>
                                    <div class="col-md-8">
                                        {{ form_text('first_name', input_get('first_name', null), {'class':'form-control'}) }}
                                        <div class="separator top"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label strong">{{ trans('users::user-search.common.user_name') }}</label>
                                    <div class="col-md-8">
                                        {{ form_text('user_name', input_get('user_name', null), {'class':'form-control'}) }}
                                        <div class="separator top"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label strong">{{ trans('users::user-search.index.email') }}</label>
                                    <div class="col-md-8">
                                        {{ form_text('user_email', input_get('user_email', null), {'class':'form-control'}) }}
                                        <div class="separator top"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-md-4 control-label strong">{{ trans('users::user-search.index.last_name') }}</label>
                                    <div class="col-md-8">
                                        {{ form_text('last_name', input_get('last_name', null), {'class':'form-control'}) }}
                                        <div class="separator top"></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label strong">{{ trans('users::user-search.index.verified') }}</label>
                                    <div class="col-md-8">
                                        {{ form_select('account_verified', options, input_get('account_verified', '-1'), {'class':' select2-el w100p'}) }}
                                        <div class="separator top"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label strong">{{ trans('users::user-search.index.mobile') }}</label>
                                    <div class="col-md-8">
                                        {{ form_text('user_mobile', input_get('user_mobile', null), {'class':'form-control'}) }}
                                        <div class="separator top"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-10">
                                        <div class="checkbox">
                                            <label class="checkbox-custom checkbox-single">
                                                <i class="fa fa-fw fa-square-o"></i> {{ trans('users::user-search.index.deleted_only') }}
                                                {{ form_checkbox('deleted_only', 1, input_get('deleted_only', null)) }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="separator"></div>
                        <div class="form-actions">
                            <input type="hidden" name="issearch" id="hsearch" value="0"/>
                            <button name="btnsearch" id="bsearch" class="btn btn-primary btn-lg"
                                    type="submit"> {{ trans('shared::button.start_search') | raw }}
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_close() }}
            {% endblock %}
        {% endembed %}

        <div class="col-separator-h"></div>
        <div class="innerAll bg-white">
            <table class="table table-bordered table-condensed table-striped table-primary checkboxs">
                <thead>
                <tr>
                    <th>{{ trans('users::user-search.index.name') }}</th>
                    <th>{{ trans('users::user-search.common.user_name') }}</th>
                    <th>{{ trans('users::user-search.index.institute') }}</th>
                    <th>{{ trans('users::user-search.index.courses') }}</th>
                    <th>{{ trans('users::user-search.index.acc_status') }}</th>
                    <th>{{ trans('users::user-search.index.links') }}</th>
                </tr>
                </thead>
                <tbody>
                <!-- BEGIN user_list -->
                {% if users is defined and users.total > 0 %}
                    {% for user in users %}
                        <tr>
                            <td>{{ user.user_fullname }}</td>
                            <td>{{ user.user_login }}</td>
                            <td>{{ user.user_school_name }}</td>
                            <td>
                                {% if user.course_name is defined %}
                                    {% for course in user.course_name %}
                                        {{ course.course_name }} ({{ course.role }}){% if not loop.last %},{% else %}{% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>{{ user.account_status }}</td>
                            <td>
                                <!-- BEGIN resend_verification -->
                                {% if not user.user_acc_verified %}
                                    <span class="label label-danger fs13">{{ trans('users::user-search.index.label_not_verified') | raw}}</span>
                                {% else %}
                                    <span class="label label-success fs13">{{ trans('users::user-search.index.label_verified')}}</span>
                                {% endif %}
                                <!-- END resend_verification -->

                                <!-- BEGIN show_reset_pwd -->&nbsp;
                                {% if user.reset_pwd_url %}
                                    <button type="button" class="btn btn-xs btn-stroke btn-danger marginT5"
                                            data-toggle="modal"
                                            data-target="#change_pwd" data-id="{{ user.encoded_id }}"
                                            data-url="{{ route_relative('users.password.reset', {'id' : user.encoded_id}) }}"
                                            data-tooltip="true"
                                            data-placement="bottom"
                                            title="{{ trans('users::user-search.common.reset_pass') }}"><i
                                                class="fa fa-key"></i>
                                    </button>
                                {% endif %}
                                <!-- END show_reset_pwd -->

                                <button type="button" class="btn btn-stroke btn-xs btn-primary" data-toggle="modal"
                                        data-target="#user_remark" data-id="{data_user_id}"
                                        data-url="{{ route_relative('users.remarks.add', {'id' : user.encoded_id}) }}"
                                        data-tooltip="true"
                                        data-placement="bottom"
                                        title="{{ trans('users::user-search.common.add_remarks') }}"><i
                                            class="fa fa-file-text"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="center" colspan="6">
                            <h4>{{ trans('users::user-search.index.no_use_found') }}</h4>
                        </td>
                    </tr>
                {% endif %}
                <!-- END user_list -->
                </tbody>
            </table>

            <!-- BEGIN pagination -->
            <div class="row">
                <div class="col-md-5">
                    <div class="dataTables_info" id="DataTables_Table_4_info">
                        {{ paginator_status(users) | raw }}
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="dataTables_paginate paging_bootstrap">{{ users.render() |raw }}</div>
                </div>
            </div>
            <!-- END pagination -->
            <div class="clearfix"></div>
        </div>

        <div class="modal" id="change_pwd" tabindex="-1" role="dialog" aria-labelledby="ChangeMobile"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ trans('users::user-search.common.reset_pass') }}</h4>
                    </div>
                    <div class="modal-body">
                        <form class="margin-none innerLR inner-2x">
                            <div class="form-group">
                                <label for="new_pwd">{{ trans('users::user-search.index.new_pass') }}</label>
                                <input class="form-control" name="new_pwd" id="new_pwd"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn_reset_password" data-url=""
                                class="btn btn-success">{{ trans('shared::button.reset') | raw }}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ trans('shared::button.cancel') }}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="user_remark" tabindex="-1" role="dialog" aria-labelledby="UserRemark" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"
                            id="UserRemark">{{ trans('users::user-search.common.add_remarks') }}</h4>
                    </div>
                    <div class="modal-body">
                        <form class="margin-none innerLR inner-2x">
                            <div class="form-group">
                                <label for="rmrk_text">{{ trans('users::user-search.index.remarks') }}</label>
                                <textarea name="remark_text" id="rmrk_text" rows="3" class="form-control"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn_add_remark" data-url="{add_remark_url}"
                                class="btn btn-success">{{ trans('shared::button.add') | raw }}</button>
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">{{ trans('shared::button.cancel') | raw }}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END widget controller for this page -->

{% endblock %}

{% block footerScriptPlugins %}
    <script type="text/javascript" src="{{ elixir('js/page/build-user-search.js') }}"></script>
{% endblock %}