{% extends "layouts.backoffice-default" %}
{% block title %} {{ trans('account::user-commission.common.title') }} {% endblock %}

{% block pageHead %}
    {% embed "widgets.bootstrap-panel" with {'classes' : 'margin-top-none margin-bottom-none padding-none-TB',
    'panelHeader' :  'true', 'panelHeaderClasses' : 'padding-none' } %}
        {% block panelHeader %}
            <h4 class="innerAll margin-none clearfix page-title">
                {{ trans('account::user-commission.common.title') }}
                <span class="pull-right page-title-button">
                <a href="{{ route('account.user-commission.search') }}">
                    <button class="btn btn-success btn-sm"> {{ trans('account::user-commission.common.search_page') |raw }}</button>
                </a>
            </span>
            </h4>
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block pageBody %}
    <div class="user_commission_container" id="user_commission_container">
        {% embed "widgets.bootstrap-panel" with {'panelBody' : 'true',
        'classes' : 'margin-bottom-none padding-none-TB'} %}
            {% block panelBody %}
                {{ form_open({'route':'account.user-commission.store','id':'frm_user_commission_mst','class':'form-horizontal'}) }}
                <div class="innerLR">

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="course_type">{{ trans('account::user-commission.common.course_type') }}</label>
                        <div class="col-sm-10">
                            {{ form_select('course_type',courseTypeOptions,input_old('course_type'),{'class':'select2-el form-control','id':'course_type',
                                'data-placeholder': trans('account::user-commission.common.any')}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="institute_id">{{ trans('account::user-commission.common.institute_name') }}</label>
                        <div class="col-sm-10">
                            {{ form_select('institute_id', {}, input_get('institute_id'),
                            {'style':'width:100%','id':'institute_id',
                                'data-placeholder': trans('account::user-commission.common.institute_name_select') ,
                                'data-action':route_relative('api.services.suggest.institute'),
                                'data-old-input' : input_get('institute_id'),
                                'data-institute-name' : instituteName
                            }
                            ) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="actual_commission">{{ trans('account::user-commission.common.actual_commission') }}</label>
                        <div class="col-sm-10">
                            {{ form_text('actual_commission',input_old('actual_commission',null),{'class':'form-control','id':'actual_commission','disabled':'disabled'}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="apply_commission">{{ trans('account::user-commission.common.apply_commission') }}</label>
                        <div class="col-sm-10">
                            {{ form_text('apply_commission',input_old('apply_commission',null),{'class':'form-control','id':'apply_commission'}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label class="">
                                    {{ trans('account::user-commission.common.not_applicable') }}
                                    {{ form_checkbox('not_applicable',1,input_old('not_applicable')) }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" name="submit" class="btn btn-primary" value="Submit"
                                    id="submit">{{ trans('shared::button.store') | raw }}</button>
                        </div>
                    </div>

                </div>
                {{ form_close() }}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}


{% block footerScriptPlugins %}
    <script src="{{ elixir('js/page/build-user-commission.js') }}" type="text/javascript"></script>
{% endblock %}